@import url('variables.postcss');
@import url('reset.postcss');
@import url('fonts.postcss');
@import url('inputs.postcss');

body {
  font-family: 'Work Sans', sans-serif;
  color: #3a3a3a;
  border-color: #3a3a3a;
}
