button,
input[type='submit'] {
  border: 1px solid black;
  background-color: white;
  padding: 0.25rem 0.5rem;
}
button:hover {
}

input[type='text'],
input[type='number'] {
  background: white;
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
}
