button,
input[type='submit'] {
  border: 2px solid;
  background-color: white;
  padding: 0.45rem 1rem;
  font-size: 1.5rem;
}
button:hover {
}

input[type='text'],
input[type='number'] {
  background: white;
  border: 3px solid;
  padding: 0.25rem 0.5rem;
}
